/* hahahha */

body {
	font-family: Arials, sans-serif;
}

/**************** NAVBAR *****************/

body {
	margin: 0;
	padding: 0;
	font-family: Arials, sans-serif;
	overflow: scroll;
	/*overflow-y: hidden;*/
}

.nav {
	background-image: linear-gradient(to right, #434343 0%, black 100%);
	height: 40px;
}

.nav ul {
	display: flex;
	margin: 0;
	padding: 8px 0 0 0;
	width: 100%;
}

.nav ul li {
	list-style: none;
}

.nav ul li a:not(.logo-link-item ) {
	padding: 13px 16px 12px;
	font-size: 15px;
	color: #fff;
	text-decoration: none;
	position: relative;
	z-index: 1;
}

.nav ul li a:not(.logo-link-item):not(.coders-tokyo):not(.login):not(.user-name):before {
	position: absolute;
	content: '';
	height: 100%;
	width: 102%;
	bottom: 0px;
	background-color: #E4E4E1;
	background-image: radial-gradient(at top center, rgba(255,255,255,0.03) 0%, rgba(0,0,0,0.03) 100%), linear-gradient(to top, rgba(255,255,255,0.1) 0%, rgba(143,152,157,0.60) 100%);
 	background-blend-mode: normal, multiply;
 	transform: scaleY(0);
  transform-origin: bottom center;
  z-index: -1;
  transition: transform 0.4s;
  left: 3px;
}


.nav ul li a:not(.logo-link-item):not(.coders-tokyo):not(.login):hover:before {
	transition: transform 400ms;
	transform: scaleY(1);
}

.nav ul li a:not(.logo-link-item):not(.coders-tokyo):not(.login):hover {
	color: #000;
	transition: 400ms;
}

.nav ul li .coders-tokyo:hover,
.nav ul li .login:hover {
	color: #f53b3be3;
	transition: 400ms;
}

.nav ul .closet {
	flex-grow: 1;
}

.nav ul .login {
	margin-top: -8px;
}

.logo-item {
	width: 40px;
	margin-left: 280px;
  margin-right: 4px;

}

.logo-link-item {
	padding: 11px 15px;
	/*background-color: red;*/
}

.logo {
	display: inline-block;
	max-width: 80%;
	border-radius: 50%;
	margin-top: -5px
}


.nav .user-logo {
	margin-top: -4px;
  width: 32px;
  height: 32px;
}

.nav ul .user-name {
  margin-left: 290px;
}



/****************** MAIN ***************************/

.main {
	background-color: #fff;
	height: 2000px;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
}

/**************** STREAM *********************/

.user-profile {
	background: linear-gradient(90deg, rgba(255,255,255,1) 23%, rgba(143,136,145,1) 84%);
	margin: 30px 0 15px;
	padding-left: 0;
	height: 210px;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	border-radius: 15px;
	/*border: 1px solid #000;*/
	box-shadow: 5px 6px 10px 4px #ccc;
}


.user-profile .user-closet {
	grid-column: 1/4;
	overflow: hidden;
}

.user-profile .closet-preview {
	grid-column: 4/13;
	overflow: hidden;
	position: relative;
}

.user-profile .closet-preview .fa-chevron-up{
	position: absolute;
	top: 13px;
  left: 493px;
  font-size: 22px;
  /*color: #fff;*/
}

.user-profile .closet-preview .fa-chevron-down{
	position: absolute;
	top: 32px;
  left: 493px;
  font-size: 22px;
  /*color: #fff;*/
}


.container .row .aside-bar {
	border-left: 1px solid #ddd;
	margin-top: 30px;
}



/********** LOGIN FORM *****************/

.login {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	border-radius: 10px;
}

.login-form {
	height: 360px;
  width: 290px;
	border: 1px solid #000;
	box-shadow: 2px 2px 15px #888;
	border: none;
	border-radius: 20px;
	position: relative;
	margin-top: 20px;
	background-color: #fff;
}

.login-form .avatar {
	max-width: 100px;
	position: absolute;
	border-radius: 50px;
	transform: translate(95%,-80%);
}

.login-form .title{
	font-size: 20px;
	font-weight: bold;
	margin: 30px 80px 35px;
	text-transform: capitalize;
}

.login-form .input {
	position: relative;
	margin: 33px 40px;
}

.login-form .input input{
	width: 200px;
	border: none;
	border-bottom: 2px solid dodgerblue;
	outline: none;

}

.login-form .input label {
	position: absolute;
	left: 0px;
	color: gray;
}

.login-form .input input:focus +label, .login-form .input input:valid +label{
	top: -15px;
	left: -3px;
	font-size: 13px;
	color: dodgerblue;
}

.login-form .login-button {
	padding: 8px 88px;
	margin: 0px 37px;
	border-radius: 20px;
	border: none;
	color: #fff;
	background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
	cursor: pointer;
}

.login-form .sign-up {
	margin: 45px 30px;
}

.login-form .signUp {
	color: dodgerblue;
	font-style: italic;
}

/********** PRODUCT BOOKS ***********/

.book-info-container.book-cover {
	position: relative;

}

.book-info-container {
	padding: 15px;
	margin-bottom: 100px;
	border-radius: 10px; 
	box-shadow: 6px 7px 18px 5px #ddd;
	/*cursor: pointer;*/
	margin: 0px 30px 70px;
	transition: 600ms;
}

.book-info-container:hover {
	box-shadow: none;
	box-shadow: 6px 7px 18px 5px #bbb;
	transform: translateY(-5px);
	transition: 300ms;
	/*border: 1px solid #000;*/
}

.book-detail {
	overflow: hidden;
  height: 88%;
}

.fa-heart,
.fa-search-plus,
.fa-shopping-cart {
	position: absolute;
	border: 1px solid #666;
}

.fa-heart:hover {
	background-color: red;
	color: #fff;
	transition: all ease 500ms;
	border: none;
}

.fa-search-plus:hover {
	background-color: red;
	color: #fff;
	border: none;
	transition: all ease 500ms;
}

.fa-shopping-cart:hover {
	background-color: red;
	color: #fff;
	border: none;
	transition: all ease 500ms;
}

.song {
	background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}

.rotate {
	-webkit-animation: rotation 3s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

.songPlaylist .changeColor {
	-webkit-animation: backgroundChangation 3s infinite linear;
}

@-webkit-keyframes backgroundChangation {
		from {
				background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
		}
		to {
				background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
		}
}

.songPlaylist .song #playBtn:hover {
	background-color: #000 !important;
	color: #fff !important;
	transition: ease 1s;
}


/* STYLE BOOK */

.image-cover {
	position: relative;
	width: 270px;
	cursor: pointer;
}

.image-cover:hover .overlay:not(.button) {
	opacity: 0.7;
	transition: ease 0.8s;
}

.overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #000;
	top: 0px;
	border-radius: 10px;
	opacity: 0;
	transition: ease 0.5s;
}

.button {
	position: absolute;
  top: 180px;
  right: 95px;;
  padding: 5px 15px;
  /*border: 1px solid #fff;*/
  color: #fff;
  opacity: 0;
  z-index: 1;
  border-radius: 5px;
}

.button:hover {
	color: #2ad332;
	transition: 1s;
	animation: changeColor 1.2s;
	animation: boxShadow 3s infinite;
	border-radius: 5px;
}

@keyframes changeColor {

    50% {color: #fff;background-color: rgba(255, 255, 255, 0);}
    100% {color: #fff}
}

@keyframes boxShadow {
	25%{box-shadow: 0px 0px 3px 3px #2ad332;}
	50% {box-shadow: 0px 0px 3px 3px #fff; }
	75% {box-shadow: 0px 0px 3px 3px #2ad332;}
	100% {box-shadow: 0px 0px 3px 3px #fff;}
}
.img-cover:hover {
	transition: ease 400ms;
	
}


.image-cover:hover .button {
	transition: ease 1s;
	opacity: 1;
	text-decoration: none;
	color: #fff;
	box-shadow: 0px 0px 3px 3px #fff;
	/*background-color: #888*/
}



/*.button-group {
	position: absolute;
  content: '';
  height: 158px;
  bottom: 0px;
  left: 75px;
	opacity: 0; 
  background: linear-gradient(0deg, rgba(34,245,28,0.5) 23%, rgba(34,245,28,0.005) 61%);
  width: 65%;
  border-radius: 10px;
  margin-bottom: 24px;
}

.button-group i {
	margin-top: 115px;
	color: #000;
}

.button-group .fa-facebook:hover { color: blue }
	
.button-group .fa-google:hover { color: red }

.button-group .fa-twitter:hover { color: #fff }

.button-group:hover {
	opacity: 1;
}*/

/*.button-group:hover < .img-cover {
	transform: translateY(-8px);
	transition: ease 400ms;
}*/


/* STYLE MOVIE */

.img-cover {
	border-radius: 10px;
}

.button-group-movie {
	background: linear-gradient(0deg, rgba(245,139,28,0.5) 23%, rgba(255,255,255,0.005) 61%);
}


/* STYLE BLOG */ 


.img-blog {
	position: relative;
	margin: 0 80px 78px 30px;

}

.img-blog:hover .overlay-blog {
	opacity: 1;
	transition: 1.2s
}

.overlay-blog {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	opacity: 0;
	transition: 0.5s;

}

.overlay-blog .description {
  width: 170px;
  height: auto;
  color: #fff;
  overflow: hidden;
  margin-top: 10px;

}

.readmore-btn {
	padding: 2px 6px;
  color: #fff;
  z-index: 1;
  animation: changeColor 1.2s;
	animation: boxShadow 3s infinite;
	border-radius: 5px;
	font-size: 10px;
	margin-top: 10px;
}

.readmore-btn:hover {
	text-decoration: none;
	color: #2ad332;
	transition: 1s;
	animation: changeColor 1.2s;
	animation: boxShadow 3s infinite;
	border-radius: 5px;
}

.lyrics {
	box-shadow: 6px 7px 18px 5px #bbb;
	padding: 5px 50px;
	
  
}

.lyric-container {
	position: relative;
  height: 80%;
  width: 100%;
  overflow: hidden;
}

#contentLyrics {
  font-family: Arials, sans-serif;
	text-align:justify;
  box-sizing: content-box;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -17px;
  padding: 0 6px;
}



/* Main page */

.carousel-container {
	background-color: #f9f9f9;
  margin: 65px 0px;
}

.right-col-introduce {
	display: grid;
	grid-template-columns: 1fr;
	height: 400px;

}
.right-col-introduce .link {
	text-decoration: none;
	color: #000;
	position: relative;
	overflow: hidden;
	font-size: 25px;
}

.right-col-introduce .link:hover .overlay-introduce {
	opacity: 1;
	transition: 1.2s
}

.right-col-introduce .link:hover .choice .text {
	opacity: 0;
	transition: 1.2s;
}

.right-col-introduce .overlay-introduce {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 0;
	bottom: 0
}

.right-col-introduce .overlay-introduce .description {
	margin-top: 5px;
	margin-left: 10px;
	font-size: 15px;
	color: #fff;
}

.right-col-introduce .slack { 
	background-image: url("../images/slack1.png"); 
	background-size: contain;
	background-position-y: -30px;
	background-position-x: -120px;
	/*width: 80%*/

}

.right-col-introduce .school {
 background-image: url("../images/school.jpg");
 background-position-y: -35px;
}

.right-col-introduce .youtube {
	background-image: url("../images/youtube.jpg");
	background-size: cover;                      
  background-repeat: no-repeat;
  background-position: center center; 
  background-position-y: -28px;
}

.right-col-introduce .stream {
	background-color: red;
}

.right-col-introduce .choice {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50%;
	border-bottom: none;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.8);
}






.options {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5px;
	height: 465px;
	padding: 10px;
}

.options .link {
	text-decoration: none;
	color: #000;
	position: relative;
	overflow: hidden;
	font-size: 25px;
	border-radius: 13px;
}

.options .link:hover .overlay {
	opacity: 1;
	transition: 1.2s
}

.options .link:hover .choice .text {
	opacity: 0;
	transition: 1.2s;
}

.options .overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 0;
	bottom: 0
}

.options .overlay .description {
	margin-top: 5px;
	margin-left: 10px;
	font-size: 15px;
	color: #fff;
}

.options .books { background-image: url("../images/books.jpeg"); }

.options .musics {
 background-image: url("../images/songs.jpeg");
 background-position-y: -75px;
}

.options .movies {
	background-image: url("../images/movies.jpg");
	background-size:     cover;                      
  background-repeat:   no-repeat;
  background-position: center center; 
}

.options .blogs { 
	background-image: url("../images/blogs.jpg");
	background-position-y: -60px;
}

.options .stream {
	background-color: red;
	grid
}

.options .choice {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50%;
	border-bottom: none;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.8);
}


/* footer */

footer {
	/*background-color: #000;*/
	background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
	height: 320px;
	padding: 10px 95px;
	margin-top: 50px;
}

.contact {
	height: 75%;
	padding: 15px;
}

.contact .title {
	color: #000;
	margin-left: 85px;
	text-transform: uppercase;
}

.contact .title-2 {
	color: #000;
	margin-left: 440px;
}

.list {
	height: 180px;
	border-bottom: 1px solid #000
}

.list-group {
	list-style: none;
}

.list-group li span img {
	display: inline-block;
	max-width: 10%;
}

.list-group li a {
	color: #000;
	text-decoration: none;
	font-size: 14px;
	margin-left: 6px;
}

.list-group li a:hover {
	color: #fff
}

.list-group .product {
	margin-top: 2px
}

.list-group li {
	margin-top: 15px
}
/*.list-group li span img{ margin-top: 15px; }*/


.list-group li span .fa-facebook{
	color: #000;
  padding: 8px;
  background-color: blue;
  border-radius: 20px;
  padding: 8px
}

.list-group li span .fa-slack {
	color: #fff;
	font-size: 30px
}

.list-group li span .fa-youtube{
	color: #000;
  padding: 8px;
  background-color: red;
  border-radius: 20px;
  padding: 8px
}

.list-group li span .fa-envelope{
	color: #000;
  padding: 8px;
  color: red;
  background-color: #fff;
  border-radius: 20px;
  padding: 8px
}

.contact .list-1 {
	width: 33.3%;
	margin-left: 110px;
}

.contact .list-2 {
	width: 33.3%;
}

.rights {
	color: #000;
	font-size: 13px;
}

.rights ul li {
	display: inline-block;
	margin-right: 5px
}

.rights .text:hover {
	color: #fff
}



/* Carousel */

.carousel-container {
	padding: 55px;
}

.forum-container {
	padding: 55px;
}




.table-rank {
	display: grid;
	/*background-color: red;*/
	width: 80%;
	grid-template-columns: repeat(12, 1fr);
	text-align: center;
	margin-left: 100px	
}

.header-table-rank {
	background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 15px;
}

.table-rank > div:not(.header-table-rank) {
	border-left: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding: 15px 15px;
	font-weight: bold;
}

.user {
	grid-column: 2/5
}

.option {
	grid-column: 9/12
}

.star {
	border-right: 1px solid #eee;
}

.rank-page {
	 background-image: url("../images/img.jpg");
	 background-size: cover
}
