/* hahahha */

body {
	font-family: Arials, sans-serif;
}

/**************** NAVBAR *****************/

.navbar {
	/*background-color: #000 !important;*/
	background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
 background-blend-mode: multiply,multiply !important;	
}

.navbar .logo-link {
	width: 42px;
	margin-left: 280px;
	margin-right: 3px;
}

.navbar .coders-tokyo {
	text-decoration: none;
	color: #000;
	font-weight: bold;
}

.navbar .navbar-avatar {
  max-width: 40px;
  margin-right: 30px;

}

.navbar .navbar-nav {
	width: 79%;
	display: flex;
}

.navbar .navbar-nav a {
  color: #000 !important;
}


.navbar .navbar-nav a:hover {
  color: #333 !important;
}

.navbar-nav .closet {
	flex-grow: 1;
}

.navbar-nav .user-logo {
	max-width: 40px;
	height: 40px;
	margin-right: 12px;
}

.navbar-collapse .log-out {
	margin-left: 170px;
	color: #000;
	text-decoration: none;
}

.navbar-collapse .log-out:hover {
	color: #333;
}



/****************** MAIN ***************************/

.main {
	background-color: #fff;
	height: 2000px;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
}

/**************** STREAM *********************/

.user-profile {
	background: linear-gradient(90deg, rgba(255,255,255,1) 23%, rgba(143,136,145,1) 84%);
	margin: 30px 0 15px;
	padding-left: 0;
	height: 210px;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	border-radius: 15px;
	/*border: 1px solid #000;*/
	box-shadow: 5px 6px 10px 4px #ccc;
}


.user-profile .user-closet {
	grid-column: 1/4;
	overflow: hidden;
}

.user-profile .closet-preview {
	grid-column: 4/13;
	overflow: hidden;
	position: relative;
}

.user-profile .closet-preview .fa-chevron-up{
	position: absolute;
	top: 13px;
  left: 493px;
  font-size: 22px;
  /*color: #fff;*/
}

.user-profile .closet-preview .fa-chevron-down{
	position: absolute;
	top: 32px;
  left: 493px;
  font-size: 22px;
  /*color: #fff;*/
}


.container .row .aside-bar {
	border-left: 1px solid #ddd;
	margin-top: 30px;
}



/********** LOGIN FORM *****************/

.login {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	border-radius: 10px;
}

.login-form {
	height: 360px;
  width: 290px;
	border: 1px solid #000;
	box-shadow: 2px 2px 15px #888;
	border: none;
	border-radius: 20px;
	position: relative;
	margin-top: 20px;
	background-color: #fff;
}

.login-form .avatar {
	max-width: 100px;
	position: absolute;
	border-radius: 50px;
	transform: translate(95%,-80%);
}

.login-form .title{
	font-size: 20px;
	font-weight: bold;
	margin: 30px 80px 35px;
	text-transform: capitalize;
}

.login-form .input {
	position: relative;
	margin: 33px 40px;
}

.login-form .input input{
	width: 200px;
	border: none;
	border-bottom: 2px solid dodgerblue;
	outline: none;

}

.login-form .input label {
	position: absolute;
	left: 0px;
	color: gray;
}

.login-form .input input:focus +label, .login-form .input input:valid +label{
	top: -15px;
	left: -3px;
	font-size: 13px;
	color: dodgerblue;
}

.login-form .login-button {
	padding: 8px 88px;
	margin: 0px 37px;
	border-radius: 20px;
	border: none;
	color: #fff;
	background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
	cursor: pointer;
}

.login-form .sign-up {
	margin: 45px 30px;
}

.login-form .signUp {
	color: dodgerblue;
	font-style: italic;
}

/********** PRODUCT BOOKS ***********/

.book-info-container.book-cover {
	position: relative;
}

.book-info-container {
	padding: 15px;
	margin-bottom: 100px;
	border-radius: 10px; 
	box-shadow: 6px 7px 18px 5px #ddd;
	/*cursor: pointer;*/
	margin: 0px 30px 70px;
}

.book-info-container:hover {
	box-shadow: none;
	box-shadow: 6px 7px 18px 5px #bbb;
	transform: translateY(-5px);
	transition: 300ms;
	/*border: 1px solid #000;*/
}

.book-detail {
	overflow: hidden;
  height: 88%;
}

.fa-heart,
.fa-search-plus,
.fa-shopping-cart {
	position: absolute;
	border: 1px solid #666;
}

.fa-heart:hover {
	background-color: red;
	color: #fff;
	transition: all ease 500ms;
	border: none;
}

.fa-search-plus:hover {
	background-color: red;
	color: #fff;
	border: none;
	transition: all ease 500ms;
}

.fa-shopping-cart:hover {
	background-color: red;
	color: #fff;
	border: none;
	transition: all ease 500ms;
}

.song {
	background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}

.rotate {
	-webkit-animation: rotation 3s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

.songPlaylist .changeColor {
	-webkit-animation: backgroundChangation 3s infinite linear;
}

@-webkit-keyframes backgroundChangation {
		from {
				background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
		}
		to {
				background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
		}
}

.songPlaylist .song #playBtn:hover {
	background-color: #000 !important;
	color: #fff !important;
	transition: ease 1s;
}


/* STYLE BOOK */

.image-cover {
	position: relative;
	width: 270px;
	cursor: pointer;
}

.image-cover:hover .overlay:not(.button) {
	opacity: 0.4;
	transition: ease 1s;
}

.overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #000;
	top: 0px;
	border-radius: 10px;
	opacity: 0;
}

.img-cover:hover {
	transition: ease 400ms;
	
}

.image-cover:hover {
	/*box-shadow: 0 19px 38px rgba(0,0,0,0.8), 0 15px 12px rgba(0,0,0,0.62);*/
	/*box-shadow: 0px 0px 8px 8px #bbb;*/
}

.image-cover:hover .button {
	transition: ease 1s;
	opacity: 1;
	text-decoration: none;
	color: #fff;
	box-shadow: 0px 0px 3px 3px #fff;
	/*background-color: #888*/
}


.button {
	position: absolute;
  top: 180px;
  right: 95px;;
  padding: 5px 15px;
  border: 1px solid #fff;
  color: #fff;
  opacity: 0;
  z-index: 1;
}


/*.button-group {
	position: absolute;
  content: '';
  height: 158px;
  bottom: 0px;
  left: 75px;
	opacity: 0; 
  background: linear-gradient(0deg, rgba(34,245,28,0.5) 23%, rgba(34,245,28,0.005) 61%);
  width: 65%;
  border-radius: 10px;
  margin-bottom: 24px;
}

.button-group i {
	margin-top: 115px;
	color: #000;
}

.button-group .fa-facebook:hover { color: blue }
	
.button-group .fa-google:hover { color: red }

.button-group .fa-twitter:hover { color: #fff }

.button-group:hover {
	opacity: 1;
}*/

/*.button-group:hover < .img-cover {
	transform: translateY(-8px);
	transition: ease 400ms;
}*/


/* STYLE MOVIE */

.img-cover {
	border-radius: 10px;
}

.button-group-movie {
	background: linear-gradient(0deg, rgba(245,139,28,0.5) 23%, rgba(255,255,255,0.005) 61%);
}


/* Main page */

.options {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5px;
	height: 465px;
	padding: 10px;
}

.options .link {
	text-decoration: none;
	color: #000;
	position: relative;
	overflow: hidden;
	font-size: 25px;
	border-radius: 13px;
}

.options .link:hover .overlay {
	opacity: 1;
	transition: 1.2s
}

.options .link:hover .choice .text {
	opacity: 0;
	transition: 1.2s;
}

.options .overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 0;
	bottom: 0
}

.options .overlay .description {
	margin-top: 5px;
	margin-left: 10px;
	font-size: 15px;
	color: #fff;
}

.options .books { background-image: url("../images/books.jpeg"); }

.options .musics {
 background-image: url("../images/songs.jpeg");
 background-position-y: -75px;
}

.options .movies {
	background-image: url("../images/movies.jpg");
	background-size:     cover;                      
  background-repeat:   no-repeat;
  background-position: center center; 
}

.options .blogs { 
	background-image: url("../images/blogs.jpg");
	background-position-y: -60px;
}

.options .stream {
	background-color: red;
	grid
}

.options .choice {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50%;
	border-bottom: none;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.8);
}


/* footer */

footer {
	background-color: #000;
	height: 320px;
	padding: 10px 95px;
	margin-top: 50px;
}

.contact {
	height: 75%;
	padding: 15px;
}

.contact .title {
	color: #ccc;
	margin-left: 85px;
	text-transform: uppercase;
}

.contact .title-2 {
	color: #ccc;
	margin-left: 440px;
}

.list {
	height: 180px;
	border-bottom: 1px solid #ccc
}

.list-group {
	list-style: none;
}

.list-group li span img {
	display: inline-block;
	max-width: 12%;
}

.list-group li a {
	color: #ccc;
	text-decoration: none;
	font-size: 14px;
	margin-left: 6px;
}

.list-group li a:hover {
	color: #fff
}

.list-group .product {
	margin-top: 2px
}

.list-group li {
	margin-top: 15px
}
/*.list-group li span img{ margin-top: 15px; }*/


.list-group li span .fa-facebook{
	color: #ccc;
  padding: 8px;
  background-color: blue;
  border-radius: 20px;
  padding: 8px
}

.list-group li span .fa-slack {
	color: #fff;
	font-size: 30px
}

.list-group li span .fa-youtube{
	color: #ccc;
  padding: 8px;
  background-color: red;
  border-radius: 20px;
  padding: 8px
}

.list-group li span .fa-envelope{
	color: #ccc;
  padding: 8px;
  color: red;
  background-color: #fff;
  border-radius: 20px;
  padding: 8px
}

.contact .list-1 {
	width: 33.3%;
	margin-left: 110px;
}

.contact .list-2 {
	width: 33.3%;
}

.rights {
	color: #ccc;
	font-size: 13px;
}

.rights ul li {
	display: inline-block;
	margin-right: 5px
}

.rights .text:hover {
	color: #fff
}



/* Carousel */

.carousel-container {
	padding: 55px;
}

.forum-container {
	padding: 55px;
}
