/* hahahha */

.navbar .logo-link {
	width: 42px;
	margin-left: 260px;
}

.navbar .coders-tokyo {
	text-decoration: none;
	color: #000;
	font-weight: bold;
}

.navbar .navbar-avatar {
    max-width: 40px;
    margin-right: 30px;
}

.navbar-nav .nav-item {
}
