extends books.pug

block content
    select(onchange='this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);').mb-3
      option() Type 
      option(value='books') Books
      option(value='movies') Movies
      option(value='songs') Songs
      option(value='blogs') Blogs
    
    .container-movies.visible                
        .d-flex.align-items-center.mb-3
            h1 
                span.mr-2 Blogs
                a.btn.btn-primary(href='/users/' + user.id + '/blogs/create') New

            form.ml-auto(action="/users/" + user.id + "/blogs/search", method="GET")
                input(type="text", name="q" id="searchInput")
                button.btn.btn-info Search


        table.table
            tr
                th STT
                th Cover
                th Title
                th Author
                th(style='padding-left: 155px') Option
            each blog, index in blogs
                tr
                    td= index + 1
                    td
                        img(src=blog.cover style="width: 34")
                    td= blog.title
                    td.preview-blog(style='width: 30px')= blog.author
                    td(style='padding-left: 85px')
                        a.btn.btn-danger.mr-3(href="/users/blog/edit/" + blog.id) Edit
                        a.btn.btn-info.mr-3(href="/users/" + blog.id) View
                        a.btn.btn-danger.mr-3(href="/users/delete/blog/" + blog.id) Delete

    script.
        var input = document.getElementById('searchInput');
        input.value = sessionStorage.getItem('draft');
        input.addEventListener('change', updateSessionStorage);
        function updateSessionStorage(){
            sessionStorage.setItem('draft', input.value)
        }
