extends createNewBook.pug

block content
    if errors
        each error in errors
            .alert.alert-danger #{error}

    .form-input.border.p-4.rounded
                h1.text-center Add new movie
                form(action="/users/" + user.id + "/movies/create" method="POST" enctype="multipart/form-data")
                  .form-row
                    .form-group.col-md-4
                      label(for='name' required) Name
                      input#inputName.form-control(name='name', type='text' placeholder='Movie Name' required autofocus)
                  .form-row
                    .form-group.col-md-4
                      label(for='actors' required) Actors
                      .input-group-prepend
                        input#inputActors.form-control(name='actors', type='text', placeholder='Movie Actors' required)
                  .form-row
                    .form-group.col-md-12
                        label(for='preview') Preview
                        textarea#preview.form-control.z-depth-1(name="preview" rows='5', placeholder='Write preview for your movie')
                  .form-row
                    .form-group.col-md-6
                      label(for='cover' required) Cover
                      .input-group-prepend
                        span.input-group-text Upload
                        .custom-file
                          input.custom-file-input(name='cover', type='file')
                          label.custom-file-label(for='chooseFile') Choose file
                  button#submit.btn.btn-primary(type='submit') Create
                  input.btn.btn-danger.ml-3(type='reset')
