extends editBook.pug

block content
    h1 Edit movie

    if errors
        each error in errors
            .alert.alert-danger #{error}


    form(method="POST")
        label(for="name" require) Name
        input(name="name" type="text" class="ml-2" value= movie? movie.name : "" require)
        br
        label(for="actors") Actors
        input(name="actors" type="text" class="ml-1" value= movie? movie.actors : "" require) 
        br
        label(for='preview') Preview
        textarea#description.form-control.z-depth-1(name="preview" rows='3', placeholder='Write description for your book' value= movie? movie.preview : "")
        br
        button.btn.btn-primary(type='submit' id="submit") Submit
