extends editBook.pug

block content
    h1 Edit blog

    if errors
        each error in errors
            .alert.alert-danger #{error}


    form(method="POST")
        label(for="title" require) Title
        input(name="title" type="text" class="ml-2" value= blog? blog.title : "" require)
        br
        label(for="author") Author
        input(name="author" type="text" class="ml-1" value= blog? blog.author : "" require) 
        br
        label(for='description') Description
        textarea#description.form-control.z-depth-1(name="description" rows='3', placeholder='Write description for your book' value= blog? blog.description : "")
        br
        button.btn.btn-primary(type='submit' id="submit") Submit
