extends books.pug
block content
    select(onchange='this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);').mb-3
      option() Type 
      option(value='books') Books
      option(value='movies') Movies
      option(value='songs') Songs
      option(value='blogs') Blogs
    
    .container-movies.visible                
        .d-flex.align-items-center.mb-3
            h1 
                span.mr-2 Movies
                a.btn.btn-primary(href='/users/' + user.id + '/movies/create') New

            form.ml-auto(action="/users/" + user.id + "/movies/search", method="GET")
                input(type="text", name="q" id="searchInput")
                button.btn.btn-info Search


        table.table
            tr
                th STT
                th Cover
                th Name
                th(style='padding: 12px 34px 0px 32px') Actors
                th(style='padding-left: 85px') Option
            each movie, index in movies
                tr
                    td= index + 1
                    td
                        img(src=movie.cover style="width: 34")
                    td= movie.name
                    td.preview-movie(style='width: 30px')= movie.actors
                    td
                        a.btn.btn-danger.mr-3(href="/users/movies/edit/" + movie.id) Edit
                        a.btn.btn-info.mr-3(href="/users/" + movie.id) View
                        a.btn.btn-danger.mr-3(href="/users/movies/delete/" + movie.id) Delete

    script.
        var input = document.getElementById('searchInput');
        input.value = sessionStorage.getItem('draft');
        input.addEventListener('change', updateSessionStorage);
        function updateSessionStorage(){
            sessionStorage.setItem('draft', input.value)
        }
