extends books.pug
block content
    select(onchange='this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);').mb-3
      option() Type 
      option(value='books') Books
      option(value='movies') Movies
      option(value='songs') Songs
      option(value='blogs') Blogs
    
    .container-movies.visible                
        .d-flex.align-items-center.mb-3
            h1 
                span.mr-2 Songs
                a.btn.btn-primary(href='/users/' + user.id + '/songs/create') New

            form.ml-auto(action="/users/" + user.id + "/songs/search", method="GET")
                input(type="text", name="q" id="searchInput")
                button.btn.btn-info Search


        table.table
            tr
                th STT
                th Cover
                th Name
                th Singers
                th(style='padding-left: 85px') Option
            each song, index in songs
                tr
                    td= index + 1
                    td
                        img(src=song.cover style="width: 34")
                    td= song.name
                    td.preview-song(style='width: 30px')= song.singers
                    td
                        a.btn.btn-danger.mr-3(href="/users/song/edit/" + song.id) Edit
                        a.btn.btn-info.mr-3(href="/users/" + song.id) View
                        a.btn.btn-danger.mr-3(href="/users/delete/song/" + song.id) Delete

    script.
        var input = document.getElementById('searchInput');
        input.value = sessionStorage.getItem('draft');
        input.addEventListener('change', updateSessionStorage);
        function updateSessionStorage(){
            sessionStorage.setItem('draft', input.value)
        }
